<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>User Authentication</title>
</head>

<body>
    <header>
        <h1>User Database</h1>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>
</body>
</html>