/* Help taken from the following resources:
https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-sizing
https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
https://www.w3schools.com/css/css3_buttons.asp
*/
#text-to-test
{
  color: #781351;
  background:lightcyan;
  border: 1px solid #781351;
  font-size: 14pt;
}
label{
  font-size: 14pt;
}
.success {
  box-sizing: content-box;    
  font-size: 14pt;   
  border: 5px solid #28a745;
  display: inline;
}

.failure {
  box-sizing: content-box;    
  font-size: 14pt;   
  border: 5px solid #dc3545;
  display: inline;
}

p {
  font-size: 14pt;
}

.submit {
  color: white;
  font-size: 12pt;
  background-color: green;
  margin-top: 15px;
  padding: 5px;
}
.new-text-form {
  box-sizing: content-box;    
  padding: 15px;    
  border: 5px solid black;
  display: inline;
}

.centered {
  position: fixed; /* or absolute */
  top: 25%;
  left: 25%;
}

.error-list li {
  color: #ff0000;
}