{{#if message }}
    <p class={{{assigned_class}}}>{{{text_to_test}}}</p>
    <p>{{{message}}}</p>
{{/if}}

{{#if hasErrors}}
<p class="error">
    {{{errors}}}
</p>
{{/if}}
<a href="home">Try another palindrome</a>
    