<p>A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation; 
    only alphanumeric characters matter). This web application allows users to 
    check whether a string is a palindrome. Enter a string in the text box 
    below to see if it's a palindrome or not for FREE!</p>
<form action="/result" method="POST" class="new-text-form centered">
    <label for="text-to-test">
        Enter text to be tested
        <input id="text-to-test" type="text" name="text-to-test" placeholder="kayak" value="{{post.text}}" class="full-width-input"/>
    </label>
    <button class="submit" type="submit">Submit</button>
</form>
{{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
{{/if}}