<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div id="palindrome-form" class="form-group">
        <label for="phrase">Phrase</label>
        <input type="text" class="form-control" id="phrase" name="phrase" placeholder="kayak" value="{{phrase}}">
        <button type="submit" id="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <ol class="form-group hidden" id="attempts">
      </ol>
    </form>
  </div>
</div>